*{
    box-sizing: border-box;
}

.caixa{
    width: 70%;
    border: 5px solid;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
   
}
.caixa h5{
   padding: 5px;
   display: inline-block;
   
}